

#one{
  text-align: center;
  background-color: black;
  opacity: 0.5;
  color:aliceblue;
}
#two{
  color: aliceblue;
}

body{
  text-align: center;
  background-image: url(BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

